ul.pagination
  li.pagination__button
    a.pagination__item-link.button.button--backwards(href=`#`)
  li.pagination__item
    a.pagination__item-link.pagination__button(href=`#`) 1
  li.pagination__item.pagination__item--active
    a.pagination__item-link.pagination__button(href=`#`) 2
  li.pagination__item
    a.pagination__item-link.pagination__button(href=`#`) 3
  li.pagination__item
    a.pagination__item-link.pagination__button(href=`#`) 4
  li.pagination__item
    a.pagination__item-link.pagination__button(href=`#`) 5
  li.pagination__item
    a.pagination__item-link.pagination__button(href=`#`) 6
  li.pagination__button
    a.pagination__item-link.button.button--forward(href=`#`)
