extends ../layouts/main

block variables
  - let login = true

block after_scripts
  script.
    document.querySelector("#modalRegister").classList.add('modal--is-shown')
    document.body.classList.add('ovh')
